@model IEnumerable<GearOptimizer.Models.Boss>

@{ 
    ViewData["Title"] = "Boss List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Boss List</h1>
</div>
<div class="contentIndex">
<ol>
    @foreach (var boss in Model)
    {
        <li class="bossName"><strong>@Html.DisplayFor(modelName => boss.Name) </strong>@Html.ActionLink("Edit", "Edit", new { id = boss.Id }) | @Html.ActionLink("Delete", "Delete", new { id = boss.Id }) | @Html.ActionLink("Details", "Details", new { id = boss.Id })</li>
    }
</ol>

<p class="addContent">@Html.ActionLink("Add Boss", "Create")</p>
</div>